.lifecycleDiv
{
	font-family: "Segoe UI", "Segoe UI Light", "Segoe UI Semibold", "Segoe UI Symbol", "Segoe Semibold";
	border: 1px solid #666666;
	background-color: #f0f0f0;
	padding: 20px;
}

#adhocDiv
{
	padding: 5px;
}

#adhocDoneButton, #adhocCancelButton
{
	margin: 10px;
	margin-bottom: 0px;
}

#completedDiv
{
	border: 1px solid #666666;
	padding: 0px 20px;
}

#completedButtons
{
	margin: 0px 20px;
}

#completedButtons button
{
	margin: 20px;
}

#updatingDiv
{
	background-image: url("/_imgs/AdvFind/progress.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-color: #cccccc;
	width: 150px;
	border: 1px solid #666666;
}

#titleText
{
	text-align: center;
	font-family: "Segoe UI", "Segoe UI Light", "Segoe UI Semibold", "Segoe UI Symbol", "Segoe Semibold";
	font: 20px bolder;
	margin: 10px;
}

#updatingText
{
	text-align: center;
	font-family: "Segoe UI", "Segoe UI Light", "Segoe UI Semibold", "Segoe UI Symbol", "Segoe Semibold";
	font: 15px;
	margin: 10px;
	margin-top: 65px;
}

#adddocTextArea
{
	display: block;
	width: 99%;
}

#adddocFileInput
{
	display: block;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-left: 15px;
	width: 97%;
}

#adddocTitle, #adhocTitle
{
	margin: 0px;
	font-family: "Segoe UI", "Segoe UI Light", "Segoe UI Semibold", "Segoe UI Symbol", "Segoe Semibold";
	font: 20px bolder;
	text-align: center;
}

#adddocDoneButton, #adddocCancelButton
{
	margin: 20px;
	margin-bottom: 0;
}

#adhocTemplateDiv, #editTemplateDiv
{
	margin: 5px;
	margin-bottom: 0px;
	padding: 0px;
	overflow: auto;
	background-color: #ffffff;
	border: 1px solid #666666;
}

#adhocButtonDiv, #adddocButtonDiv
{
	text-align: center;
}

#templateListUL
{
	list-style-type: none;
	margin: 0px;
	padding: 5px;
}

#templateListUL li
{
	margin-left: 5px;
	margin-right: 5px;
}
