.staffDiv
{
	font-family: "Segoe UI", "Segoe UI Light", "Segoe UI Semibold", "Segoe UI Symbol", "Segoe Semibold";
	border: 1px solid #666666;
	background-color: #f0f0f0;
	padding: 20px;
}

#staffTitle
{
	text-align: center;
	padding: 10px;
	font: 20px bolder;
}

#staffDoneButton, #staffCancelButton
{
	margin: 20px;
	margin-bottom: 0px;
}

#updatingDiv
{
	background-image: url("/_imgs/AdvFind/progress.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-color: #cccccc;
	width: 150px;
}

#updatingText
{
	text-align: center;
	font-family: "Segoe UI", "Segoe UI Light", "Segoe UI Semibold", "Segoe UI Symbol", "Segoe Semibold";
	margin: 10px;
}

#selectStaffDiv
{
	margin: 5px;
	margin-bottom: 0px;
	padding: 0px;
	overflow: auto;
	background-color: #ffffff;
	border: 1px solid #666666;
}

#staffButtonDiv
{
	margin-bottom: 20px;
	text-align: center;
}

#staffListUL
{
	list-style-type: none;
	margin: 3px;
	padding-left: 0px;
}

#staffListUL li
{
	margin-left: 5px;
	margin-right: 5px;
}
